
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    display: none; 
    display: inline-block; 
    white-space: nowrap; 
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: .2rem .35rem;
    font-size: 0.5rem;
    position: absolute;
    z-index: 1;
    left: 50%; 
    top: 100%; 
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    color:#ffffff;
    display: block;
    opacity: 1; /* 호버 시 툴팁 표시 */
}


